.gradient-red {
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
}

.mt-4 {
    margin-top: 1em !important;
}

.vh-100 {
    height: 300px;
}
